.chat{
   background-color: azure;
   padding:20px;
   border-radius: 16px;
   display:inline-block;
}
.msg{
    background-color: dodgerblue;
    color:white;
    padding:5px;
}

body{
    margin:20px;
}